* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
}

.navbar {
    background: #35424a;
    color: #ffffff;
    height: 115px;
    /* padding-top: 30px;
    min-height: 70px; */
    display: flex;
    justify-content: space-between;   
    align-items:center;
    border-bottom: #a9508b 4px solid;
    padding: 0 10% ;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    
}

.navbar ul li a {
    text-decoration:none;
    padding: 1rem;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

#home{
    color: #a9508b;
}

.navbar h1 {   
    font-size: 1.9em;
}

.navbar h1 span {
    color: #a9508b;   
}

.part1{
    color: white;
    text-align: center;
    background-image: url("./img/showcase.jpg");
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
}

.part1 h1 {
    font-size: 55px;
    margin-bottom: 20px;
    }

.part1 p {
    text-indent: 30px ;
    font-size: 20px;
    line-height: 35px;

    }
}

.part1 img {
   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.part2{
    display: flex;
    justify-content: space-between;   
    align-items:center;
    height: 85px;
    padding:  0 12%;
    color: #ffffff;
    background: #35424a;
}

#email{
    height: 37px;
    width: 267px;
    text-indent: 10px;
}

.part2 button {
    height: 38px;
    background: #a9508b;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.part3{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    height: 45vh;
    border-bottom: #a9508b 4px solid;
    background-color: #f4f4f4;
}
.box{
    width: 20%;
    text-align: center;
    padding: 5px;
    line-height: 25px;
}

.part3 img {
    margin-top: 5px;
    width: 35%;
    margin-bottom: 15px;
}

.part3 h3 {    
    margin-bottom: 15px;
}

.foot-div{
    background-color: #fffaf0;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    height: 18vh;   
}
